body 
{
    font-family: Arial,  sans-serif; 
    font-size: 15px; 
    background-color: #000000; 
    color: #333333; }

h1
 {
    color: #e7ee2e; 
    font-size: 30px;
    font-family: Georgia, serif; }

#container
{
    background: #011547;
    color:#b5b500;
    width:1100px;
    height:1052px;
}
#content
{
    background: #050d6b;
    float: left;
    width:550px;
}
a
{
    color:white;
    text-decoration: none;
}

@keyframes color-change {
    0% {
      color: blue;
    }

    30%{
        color:rgb(129, 25, 227);
    }

    50% {
      color: rgb(222, 0, 0);
    }

    100% {
      color: rgb(0, 0, 210);
    }
  }

h1{
    animation: color-change 5s infinite;
  }

#rightcontent
{
float:right;
padding-right:10px;
width:500px;

}
